&.dashboard{
    * .material-icons, * span{
        vertical-align: middle;
    }
    section{
        padding-left: 0.1em;
        padding-right: 0.1e m;
    }
    .btn{
        text-transform: unset;
    }
    .card-content{
        border-radius: 0;
    }
    #user img {
        margin: 1em;
        max-width: 8em;
    }
    .card{
        border-radius: 4px;
    }

    .card-content:nth-child(1){
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }

    .card-action{
        border-bottom-left-radius: 4px !important;
        border-bottom-right-radius: 4px !important;
    }
    #menu .row:nth-child(1) .card-content p{
        min-height: 6em;
    }
    #menu .row:nth-child(2) .card-content p{
        min-height: 4.5em;
    }
    #menu .card .responsive-img{
        max-height: 6em !important;
    }
    #menu .card-action{
        display: flex;
        flex-direction: row;
    }

    #menu .card-action a {
        margin-left: auto;
    }
}
