&.questionnaire{
    min-height: 100vh;
    overflow-x: hidden;
    @include override-select;
    .custom-input{
        [type="file"]{
            height: 0;
            width: 0;
            overflow: hidden;
        }
    }
    //APPLICATION BAR
    #appbar{
        z-index: 1003;
        nav{
            box-sizing: unset !important;
            padding-bottom: 0.5em;
        }
        .btn-floating {
            display: inline-block;
            vertical-align: middle;
        }
        .material-icons{
            display: inline-block;
            line-height: unset;
            vertical-align: middle;
        }
        //PROGRESS BAR
        .progress {
            height: 0.5em;
            margin: 0;
            position: absolute;
            z-index: 1002;
            bottom: 0;
            border-radius: 0;
        }
    }

    //QUESTION-SET ANIMATION DURATION
    .question-set {
        animation-duration: 0.5s;
    }

    //FORM
    .form {
        margin-bottom: 0;
        .form-content {
            padding: 1em;
            margin: 0 auto;
            max-width: 576px;
            width: 100%;
        }
    }

    /* RESPONSIVE */
    @media only screen and (max-width: 600px) {
        nav{
            padding-bottom: 0.25em;
        }
        .container {
            margin: 0 auto;
            width: 100%;
        }
        .progress {
            height: 0.25em;
        }
        .form-action-wrapper {
            padding: 1em !important;
        }
    }
}

//OVERLAY
.overlay {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1002;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.9);
}


&.questionnaire:not(.respondent){
    @include override-input-theme(#5e35b1);
    @include override-select(#5e35b1);
}
