&.revenue {
    @import '../sidenav';
    @import '../input';
    @include override-select;
    .th-sm, .th-md, .th-lg{
        white-space: normal;
        box-sizing: content-box;
    }
    .th-sm{
        min-width: 6em !important;
        width: 6em !important;
    }
    .th-md{
        min-width: 12em !important;
        width: 12em !important;
    }
    .th-lg{
        min-width: 20em !important;
        width: 20em !important;
    }
    tr th{
        border-radius: unset !important;
        padding: 8px;
        &.border-right-dark{
            border-right: 1px solid rgba($color: #000000, $alpha: 0.24);
        }
        &.border-right-light{
            border-right: 1px solid rgba($color: #ffffff, $alpha: 0.24);
        }
    };

    #grup_3{
        tr.active{
            background-color: #e3f2fd;

        }
        tr:not(.active){
            > * {
                color: #e0e0e0 !important;
            }
            td{
                &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5), &:nth-child(6){
                    color: #424242 !important;
                }
            }
        }
        tr td{
            padding: 8px;
            &:nth-child(1), &:nth-child(3), &:nth-child(6), &:nth-child(10), &:nth-child(14){
                border-right: 1px solid rgba($color: #000000, $alpha: 0.24);
            }
        };
        select.browser-default[readonly] {
            color: color("grey", "base");
        }
        select, input {
            &:not([readonly]){
                color: #424242;
                border-bottom: 2px solid color("blue", "darken-1") !important;
            }
        }

    }
    #slide-out{
        #grup_1{
            position: absolute;
            top: 0;
            left: 0;
            transition: left 0.2s ease-in-out;
        }
        #grup_2 {
            position: absolute;
            top: 0;
            left: 100%;
            transition: left 0.2s ease-in-out;
        }
        &.toggled{
            #grup_1{
                left: -100%;
            }
            #grup_2{
                left: 0;
            }
        }
    }
    .contents, #navbar nav{
        transition: unset;
    }
    select.browser-default{
        background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3e%3cpath fill='%23343a40' d='M7 10l5 5 5-5z'/%3e%3c/svg%3e") no-repeat right 0rem center/24px 24px;
        margin-bottom: 8px !important;
    }
}
