*, *::after, *::before {
    box-sizing: border-box !important;
}

body{
    min-height: 100vh;
}

.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    background: rgba($color: #ffffff, $alpha: 0.85);
    justify-content: center;
    align-items: center;
}

// CUSTOM CLASSES
.no-shadow{
    box-shadow: unset !important;
}

.d-inline-block{
    display: inline-block;
}

.d-inline{
    display: inline;
}

.d-none{
    display: none;
}

.align-middle{
    vertical-align: middle;
}

@import 'navbar';
@import 'navbottom';
@import 'modal';
@import 'input';
@import 'toast';
