// BROWSER DEFAULT SELECT
@mixin override-select($primary: #1e88e5) {
    .prefix ~ select.browser-default {
        padding-left: 0 !important;
        margin-left: 3rem;
        width: 92%;
        width: calc(100% - 3rem);
    }

    .prefix ~ .just-text {
        padding-left: 0 !important;
        margin-left: 3rem;
        width: 92%;
        width: calc(100% - 3rem);
        height: 3rem;
        line-height: 3rem;
    }

    select.browser-default ~ label, .just-text ~ label {
        position: absolute;
        top: -26px;
        font-size: .8rem;
    }

    select.browser-default{
        border-radius: unset;
        border: none;
        border-bottom: 1px solid #9e9e9e;
        background: #fff url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3e%3cpath fill='%23343a40' d='M7 10l5 5 5-5z'/%3e%3c/svg%3e") no-repeat right 0rem center/24px 24px;
        appearance: none;
        transition: all 0.3 ease-in-out;
        margin: 0 0 8px 0;
        padding: .8rem 0 .8rem 0;
    }

    select.browser-default:focus{
        outline: none;
        border: none;
        border-bottom: 1px solid $primary;
    }

    select.browser-default:focus:invalid, select.browser-default:required:invalid{
        outline: unset;
        box-shadow: unset;
        border-bottom: 1px solid color("red", "base");
    }

    input:not([type]) + label::after, input[type="text"] + label::after, input[type="password"] + label::after, input[type="email"] + label::after, input[type="url"] + label::after, input[type="time"] + label::after, input[type="date"] + label::after, input[type="datetime"] + label::after, input[type="datetime-local"] + label::after, input[type="tel"] + label::after, input[type="number"] + label::after, input[type="search"] + label::after, textarea.materialize-textarea + label::after, .select-wrapper + label::after {
        display: block;
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        opacity: 0;
        transition: .2s opacity ease-out, .2s color ease-out;
    }
}

@mixin override-input-theme($primary: #1e88e5){
    .input-field{
        .material-icons.active{
            color: $primary !important;
        }
    }
    input:not([type]):focus:not([readonly]), input[type="text"]:not(.browser-default):focus:not([readonly]), input[type="password"]:not(.browser-default):focus:not([readonly]), input[type="email"]:not(.browser-default):focus:not([readonly]), input[type="url"]:not(.browser-default):focus:not([readonly]), input[type="time"]:not(.browser-default):focus:not([readonly]), input[type="date"]:not(.browser-default):focus:not([readonly]), input[type="datetime"]:not(.browser-default):focus:not([readonly]), input[type="datetime-local"]:not(.browser-default):focus:not([readonly]), input[type="tel"]:not(.browser-default):focus:not([readonly]), input[type="number"]:not(.browser-default):focus:not([readonly]), input[type="search"]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
        border-bottom: 1px solid $primary;
        box-shadow: 0 1px 0 0 $primary;
    }
    input:not([type]):focus:not([readonly]) + label, input[type="text"]:not(.browser-default):focus:not([readonly]) + label, input[type="password"]:not(.browser-default):focus:not([readonly]) + label, input[type="email"]:not(.browser-default):focus:not([readonly]) + label, input[type="url"]:not(.browser-default):focus:not([readonly]) + label, input[type="time"]:not(.browser-default):focus:not([readonly]) + label, input[type="date"]:not(.browser-default):focus:not([readonly]) + label, input[type="datetime"]:not(.browser-default):focus:not([readonly]) + label, input[type="datetime-local"]:not(.browser-default):focus:not([readonly]) + label, input[type="tel"]:not(.browser-default):focus:not([readonly]) + label, input[type="number"]:not(.browser-default):focus:not([readonly]) + label, input[type="search"]:not(.browser-default):focus:not([readonly]) + label, textarea.materialize-textarea:focus:not([readonly]) + label {
        color: $primary;
    }

    .select-wrapper input.select-dropdown:focus {
        border-bottom: 1px solid $primary;
    }
}

// MINOR CHANGES
.input-field input:not([data-length]), select:not([data-length]){
    margin-bottom: 26px !important;
}

.btn, .modal-close{
    &:not(.btn-floating){
        border-radius: 0.5rem;
    }
}
