.modal, .modal-footer, .modal-content{
    border-radius: 1em !important;
    background: white;
}
.modal-content{
    padding-top: 12px !important;
}
.modal-footer{
    padding-left: 24px !important;
    padding-right: 24px !important;
}

@media only screen and (max-width: 992px)
{
    .modal{
        width: 90%;
    }
}
