.navbottom-fixed {
    position: relative;
    z-index: 1001;
    .navbottom{
        position: fixed;
        bottom: 0 !important;
    }
}

.navbottom{
    margin-top: 1rem;
    width: 100%;
    border-top: 1px solid #e0e0e0;
    background: white;
    .navbottom-wrapper {
        display: flex;
        width: 100%;
        max-width: 576px;
        margin: 0 auto;
        padding: 0.5em !important;
    }
}
