#navbar{
    .nav-wrapper {
        padding-left: 1em;
    }

    nav {
        transition: box-shadow 0.2s ease-in-out;
    }

    nav .nav-wrapper .brand-logo {
        left: 0;
        top: 50%;
        display: inline;
        transform: translateY(-50%);
    }

    nav .nav-wrapper .brand-logo span {
        vertical-align: middle !important;
        font-size: 80%;
        font-weight: 300;
    }

    nav .nav-wrapper .brand-logo img {
        vertical-align: middle !important;
        max-width: 5em;
        max-height: 1em !important;
        padding-bottom: 0.125em;
    }
}
