.contents, #navbar nav{
    transition: padding-left 0.25s ease-in-out;
    padding-left: 0;
}

#navbar nav{
    transition: all 0.25s ease-in-out;
}

#navbar nav{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.07),0 3px 1px -2px rgba(0,0,0,0.06),0 1px 5px 0 rgba(0,0,0,0.1);
    a {
        display: inline-block;
        min-width: max-content;
        i, span{
            pointer-events: none;
        }
    }
    span{
        display: inline-block;
    }
}

.modal{
    z-index: 10005 !important;
}
.modal-overlay{
    z-index: 10004 !important;
}

.modal-content, .modal-footer{
    background: #ffffff !important;
}

.fixed-action-btn {
    transition: transform 0.25s ease-in-out;
    .btn{
        transition: all 0.25s ease-in-out;
        &:hover{
            filter: brightness(120%);
        }
    }
}

@media #{$large-and-up} {
    .contents, #navbar nav, .modal-form{
        padding-left: 300px;
    }
    .sidenav{
        transition: all 0.25s ease-in-out;
    }
    .sidenav-toggled{
        transform: translateX(-105%) !important;
    }
    .side-toggled{
        padding-left: 0 !important;
        left: 0 !important;
    }
    .sidenav-overlay{
        display: none !important;
    }
}
