&.dashboard{
    position: relative;

    .nav-wrapper {
        padding-left: 1em;
        padding-right: 1em;
        height: 64px !important;
    }

    .sidenav {
        z-index: 10001;
    }

    #navbar {
        &.double-height{
            height: 128px;
            nav{
                height: 128px;
            }
        }
        z-index: 10000;
        nav{
            transition: padding-left 0.25s ease-in-out, transform 0.25s ease-in-out;
            input {
                padding-left: 3em !important;
                padding-right: 3em !important;
                border-radius: 2em !important;
                background-color: rgba(0, 0, 0, 0.05) !important;
                &::placeholder{
                    color: #616161;
                }

            }
            input, input:focus{
                border: unset !important;
                box-shadow: unset !important;
            }
        }
    }

    .section {
        padding-left: 2em !important;
        padding-right: 2em !important;
    }

    .collection {
        position: unset !important;
        border: unset;
    }

    .dropdown-content {
        width: max-content !important;
    }

    .dropdown-content a {
        color: #424242 !important;
    }

    .collection .collection-item {
        padding: 1em;
        padding-left: 1em;
        padding-right: 1em;
    }

    .collection .collection-item .item-action * {
        margin-top: -4px;
    }

    .collection .row {
        margin: unset;
    }


    @media #{$small-and-down} {
        #navbar,
        #navbar nav {
            height: 64px !important;
        }
        .collection .collection-item .item-header {
            font-weight: bold;
            margin-bottom: 4px;
        }
    }

    @media #{$large-and-up} {
        .nav-wrapper {
            height: 64px !important;
            padding-left: 2em !important;
            padding-right: 2em !important;
            overflow: hidden;
        }

        .collection .collection-item {
            padding: 1em;
            padding-left: 2em;
            padding-right: 2em;
        }
    }
}
