&.detail{
    .navbar-fixed{
        height: unset !important;
        nav.transparent{
            background-color: transparent !important;
            transition: all 0.2s ease-in-out;
            box-shadow: unset !important;
            .nav-wrapper .brand-logo *{
                color: white !important;
                text-shadow: 1px 1px 2px rgba(0,0,0,0.95);
                transition: all 0.2s ease-in-out;
            }
        }
    }
    .collection{
        border-left: unset;
        border-right: unset;
        border-top: unset;
        border-radius: unset;
        margin: unset;
        &, .collection-item, .collection-header, .card-content{
            background-color: transparent !important;
        }
        &:nth-last-child(1){
            border-bottom: unset !important;
        }
        .collection-item{
            min-height: 72px !important;
            border: unset !important;
        }
        .collection-header{
            padding: 0.5rem 2rem;
            border: unset !important;
        }
    }

    .card{
        background-color: transparent;
        .card-image{
            .card-image-bg{
                position: relative;
                overflow:hidden;
                height: 200px;
                img {
                    min-width: 20em;
                }
                img, i{
                    position: absolute;
                    left:50%;
                    top:50%;
                    transform:translate(-50%, -50%);
                }
            }
        }
        .card-tabs{
            border-bottom: 1px solid #e0e0e0;
            li{
                flex-grow: unset !important;
                text-transform: unset !important;
            }
            a{
                color: rgba(0,0,0,0.87) !important;
                &.active{
                    color: #1E88E5 !important;
                }
            }
            a:focus, a.active:focus{
                color: #1E88E5 !important;
                background-color: unset !important;
            }
            .indicator{
                background-color: #1E88E5 !important;
                height: 4px !important;
                margin: 0 1rem;
                border-radius: 4px 4px 0 0;
            }
        }
        .card-image .card-title{
            text-shadow: 1px 1px 2px rgba(0,0,0,0.95);
        }
        .card-content{
            padding-top: unset !important;
            padding-bottom: unset !important;
        }
        .card-container{
            width: 100%;
            max-width: 720px;
        }
    }

    @media only screen and (max-width: 719px){
        .card-tabs li{
            flex-grow: 1 !important;
        }
        .card-image .btn-floating.halfway-fab{
            display: none !important;
        }
    }
    @media only screen and (min-width: 720px){
        .navbar-fixed .nav-action{
            display: none !important
        }
        .rumahsakit{
            background-color: #eee !important;
        }
        .card{
            padding-bottom: 1rem;
        }
        .card-image{
            box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
        }
        .card-container{
            box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
            border-radius: 0 0 1rem 1rem;
        }
    }
}
