&.form-man{
    .input-field .prefix ~ a {
        line-height: 1;
        margin-left: 3rem;
        width: calc(100% - 3rem);
    }
    .card-header{
        border-radius: 2px 2px 0 0;
    }
    .card-content{
        padding: 1rem 24px;
    }
}
