#app{
    min-height: 100vh;
    @include override-select;
    &:not(.login){
        @import '../sidenav';
        @import 'dashboard';
        @import 'settings';
        @import 'form-man';
        @import 'report';
        @import 'detail';
    }
}
