&.report{
    .card-panel{
        border-radius: 0.5rem;
    }
    @media only screen and (max-width: 480px){
        #app{
            background: white !important;
        }
        .container{
            margin: 0 !important;
            padding: 0 !important;
        }
        .card-panel{
            box-shadow: unset !important;
            border-radius: 0;
            padding: 0;
        }
    }
}
