&.settings{
    .section{
        padding-left: 2em !important;
        padding-right: 2em !important;
    }
    .collection{
        border: unset;
    }
    .collection-item{
        padding-top: 1.25em !important;
        padding-bottom: 1.25em !important;
    }
}
